/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #666362, #d1d0ce 100%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  padding: 10px 5px 5px 5px;
  position: relative;
  font-size: 14px;
}

.title {
  font-size: 24px;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
  .search {
    width: 150px;
    clear: both;
  }
}