/* CSS declarations go here */
body {
  font-family: Lucida Sans Unicode;
  font-size: 16px;
  background-color: #ffffff;
  background-image: url("teachergoods_bg2.png");
  background-repeat: repeat-y;
  background-size: cover;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.navbar-default {
  background-color: #99C68E;
}

.navbar-default .btn-primary:hover, .btn-block:hover {
  background-color: #33A65D;
  color: #ffffff;
}
.navbar-default .navbar-nav .open a, .navbar-default .navbar-nav
 .open a:hover, .navbar-default .navbar-nav .open a:focus {
  color: #ffffff;
  background-color: #68BD7C;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.btn {
  color: #000000;
  background-color: #FEFCFF;
  border-color: #726E6D;
}
.btn:hover {
  color: #3EA055;
  background-color: #F5F5DC;
  border-color: #33A65D;
}
.btn-primary {
  color: #ffffff;
  background-color: #68BD7C;
  border-color: #33A65D;
}
.btn-link {
  font-weight: bold;
  color: #000000;
}
.panel .btn-link:hover, .btn-link:focus, .btn-link:active {
  font-weight: bold;
  color: #ffffff;
}
.panel-body .btn-link:hover, .btn-link:focus, .btn-link:active {
  font-weight: bold;
  color: #33A65D;
}
.panel-default .panel-heading {
  color: #ffffff;
  background-color: #68BD7C;
}
.panel-default .panel-body {
  color: #000000;
  background-color: #ffffff;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #FEFCFF;
}

header {
  padding: 10px 5px 5px 5px;
  position: relative;
  font-size: 14px;
}

.title {
  font-size: 18px;
}

#login-buttons {
  display: block;
}
#login-buttons-password:hover, #login-buttons-password:focus, #login-buttons-password:active {
  background-color: #33A65D;
}
#forgot-password-link {
  background-color: #ffffff;
  color: #0C090A;
}

#signup-link {
  background-color: #ffffff;
  color: #0C090A;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 

.search {
  width: 150px;
  clear: both;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-horizontal{
  margin-bottom: 20px;
}

.space-top{
  margin-top: 5px;
}

.scroll-bar{
  overflow-y: scroll;
  max-height: 500px;
}

.page-header h2{
  margin-top: 0;
}

.page-header{
  margin-top: 0;
}