/* CSS declarations go here */
body {
  font-family: Trebuchet MS;
  font-color: #6960EC
  font-size: 20px;
  background-color: #ffffff;
  background-image: url("teachergoods_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
}
 
.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  padding: 10px 5px 5px 5px;
  position: relative;
  font-size: 14px;
}

.title {
  font-size: 18px;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 

.search {
  width: 150px;
  clear: both;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-horizontal{
  margin-bottom: 20px;
}

.space-top{
  margin-top: 5px;
}